.log-reg-button {
    border: 3px solid black;
    font-weight: 700;
    background-color: purple;
}

.log-reg-button:hover {
    transform: scale(1.03);
    color: white;
    border: 3px solid white;
}

input {
    border: none;
    background: none;
    outline: none;
    padding: 0;
    margin: 0;
    border-bottom: 1px solid #000;
    box-sizing: border-box;
    width: 100px;
}

input::placeholder {
    color: #ffffff;
}

input:focus {
    border-color: blue;
    background: rgba(197, 190, 190, 0.4);
}

