.log-reg-button {
    border: 3px solid black;
    font-weight: 700;
    background-color: purple;
}

.log-reg-button:hover {
    transform: scale(1.03);
    color: white;
    border: 3px solid white;
}

input {
    border: none;
    background: none;
    outline: none;
    padding: 0;
    margin: 0;
    border-bottom: 1px solid #000;
    box-sizing: border-box;
    width: 100px;
}

input::placeholder {
    color: #ffffff;
}

input:focus {
    border-color: blue;
    background: rgba(197, 190, 190, 0.4);
}

.loader{
    border: 4px solid #d73131;
    border-top: 4px solid transparent;
    border-radius: 50%;
    width: 68px;
    height: 68px;
    animation: spin 1s linear infinite;
    position: relative;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
